
*, body{
    margin: 0;
}
body{
    background-color: seashell;
}
nav{
    background: rgb(100, 165, 80);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
nav h1 {
    font-size: 2.2rem;
}

.color{
    color: darkslategray;
}
.account-number {
    letter-spacing: 2px;
}
.body-color-card{
    background: rgb(100, 165, 80);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.body-color-card:hover,
.body-color-card:active,
.body-color-card:focus{
    background: rgb(71, 119, 56);
    transition: .3s all;
}
.next-btn{
    background: rgb(100, 165, 80);
    color: white;
    cursor: pointer;
}

.next-btn:hover,
.next-btn:active,
.next-btn:focus{
    background: rgb(71, 119, 56);
    transition: .3s all;
    color:white;
}

