@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
  }
body, html {
  margin: 0;
}
h4,h3,h5{
    margin: 0;
}

body {
  height: 100%;
  font-family: 'open-sans', sans-serif;
  background: rgb(162, 204, 114);
}
.container{
    width: 100%;
}
.wrapper{
    width: 1100px;
    margin:auto;
    align-content: space-between;
}
.title{
    height: 120px;
    padding-top: 20px;
    width: 100%;
    background: darkslategray;
}
h1{
    font-size: 2rem;
    text-align: center;
    left: 50%;
    padding-top: 30px;
    color: rgb(162, 204, 114);
    background: darkslategray;
}
table{
    width: 400px;
    margin-top: 50px;
}
th{
    text-transform: uppercase;
    font-size: 14px;
    color: darkslategray;
    font-weight: 700;
}

td{
    color: white;
    font-size: 24px;
    inline-size: 25px;
}
.tablas-ambas{
    display: inline-flex;
    max-height: 600px;
    margin-top: 30px;
    justify-content: space-between;
}

.container-fluid {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    display: inline-flex;
  }

.tabla-1{
    width: 10%;
    float:left;

}
.tabla-2{
    width: 10%;
    float:left;
    margin-left: 320px;
}

.estilo{
    text-align: center;
}
.icono{
    color: darkslategray !important;
}
.bloque-info{
    float:right;
    margin-left: 35px;
    align-items: center;
    justify-items: center;
}
.bloque-total {
    margin-top: 50px;
}
.fondo{
    height: 45px;
    background-color: white;
    border-radius: 20px;
    display: block;
    color:rgb(162, 204, 114);
    width: 250px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    margin-top: 5px;
}
.badge{
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    display:flex;
    padding-top: 6px;
}

.botones{
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-content: space-around;

}

.btn-principal {
letter-spacing: .01em;
border: none;
padding: .7em 1em;
width: 450px;
border-radius: 25px;
margin-top: .5rem;
line-height: 1;
font-weight: bold;
background-color: rgb(162, 204, 114);
color: white;
cursor: pointer;
overflow: hidden;
transition: all .35s;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
.btn-principal:hover,
.btn-principal:active,
.btn-principal:focus{
background: rgb(87, 117, 52);
}

.btn-principal span{
opacity: 1;
font-size: 28px;
visibility: visible;
transition: all .35s;
}
.subtitle {
    color: darkslategray;
    text-transform: uppercase;
    font-weight: 800;

}

/* responsive  */
@media only screen and (max-width: 600px) {
    .tablas-ambas{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .wrapper{
        width: 100%;
    }
    .title{
        width: 100vh;
        justify-content: center;
    }
    .botones{
        display: flex;
        flex-direction: column;
    }
    .boton-1{
        margin-left: 25px;
    }
    .container-fluid {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      }
      .bloque-info{
        float:left;
        align-items: center;
        justify-items: center;
    }
    .tabla-2{
        width: 10%;
        float:left;
        display: flex;
    }
}
@media screen and (min-width: 800px) {
    .tablas-ambas{
        display: flex;

    }
}
